<div class="loadstatus" ng-show="dir.load==false">
    <div class="nothing">
        Nothing Found!
    </div>
</div>
<div class="loading" ng-show="dir.load">
    <img src="https://cdn.clipart.email/4c4a9deac0c89819440a41871b5e50d4_copper-loader-gif-on-imgur_400-300.gif"
     width="200" alt="Loading Logo Png Gif" />
</div>
<div >
    <li ng-repeat="i in dir.items"><span class="itemname">{{i.name}}</span>
        <span class="shortname"> ({{i.short_name}})</span>
        <p>{{i.description}}</p>
        <button ng-click="dir.remove({index:$index})">Don't want this one!</button>
    </li>
</div>
